---
/** Footer 組件 */
---

<style>
  footer { 
    background-color: #505e66;  /* 背景色，深灰藍色 */
    color: #ffffff;             /* 文字顏色，白色 */
    padding: 24px;              /* 內邊距，上下左右各 24 像素，內容不貼邊 */
    text-align: center;         /* 文字置中對齊 */
    font-size: 0.8rem;          /* 字體大小為根元素字體大小的 0.9 倍 */
    margin-top: 20px;           /* 元素上方外距 20 像素，和上方內容分開 */
  }

  /*footer a {
    color: #E5AF3A;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }*/
</style>

<footer>
  <p>© 2025 Carol Lab。版權所有。</p>
</footer>
