---
const { title, padded = true } = Astro.props;
---

<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        background-color: #505e66;
        font-family: 'Noto Sans TC', sans-serif;

        padding-top: 120px; /* navbar 高度 */
        color: #fff;
      }
      main {
        flex: 1;
        padding: 0 96px;
        background-color: transparent; /* 讓背景延續 body 深色 */
      }
      main.no-padding {
        padding: 0;
      }

      @media (max-width: 768px) {
        main {
          padding: 0 20px;
        }
      }
    </style>
  </head>
  <body>
    <slot name="navbar" />
    <main class={padded ? '' : 'no-padding'}>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
